<%= @project.name %>

<% @feedbacks.each do |feedback| %>
  <p><%= feedback.html_description %></p>
  <image src="<%= feedback.author_image %>" class="top pull-1 left" height="48" width="48"/>
  <%= link_to feedback.author_name, feedback.author_url %>
  <%= link_to 'View', feedback.url %>
  <hr/>
<% end %>
