<div class='box'>
  <h1>
  <%= @project.name %>
  <a href="<%= project_url(@project) %>.atom"><img src="http://www.mozilla.org/images/feed-icon-28x28.png"/></a>
  </h1>

  <p>
  Project url: <%= link_to @project.url, @project.url %>
  <br/>
  Description: <%= @project.description %>
  </p>
</div>

<h2>
What people say about '<%= @project.name %>' :
</h2>

<% @feedbacks.each do |feedback| %>
  <p>
  <image src="<%= feedback.author_image %>" class="top pull-1 left" height="48" width="48"/>
  <%= feedback.html_description %><br/>
  
  <small>
  <%= time_ago_in_words(feedback.created_at) + ' ago' %>
  By <%= link_to feedback.author_name, feedback.author_url %>
  <%= link_to 'View', feedback.url, :popup => true %>
  <%= link_to 'Reply', feedback.reply_url, :popup => true %>
  </small>
  
  </p>
  <hr/>
<% end %>

<%= will_paginate @feedbacks %>
