<div class='box'>
  <h1>
  <%= @project.name %>
  <a href="<%= project_url(@project) %>.atom"><img src="http://www.mozilla.org/images/feed-icon-28x28.png"/></a>
  </h1>

  <p>
  Project url: <%= link_to @project.url, @project.url %>
  <br/>
  Description: <%= @project.description %>
  </p>
</div>

<h3>
What the Community is Saying about '<%= @project.name %>' :
</h3>

<div id='tab-set'>
  <ul class='tabs'>
    <li>
      <%= link_to "Twitter", feedback_url(:id => @project.name, :source => 'twitter', :polarity => 'all') %>
    </li>
    <li>
      <%= link_to "Blog",    feedback_url(:id => @project.name, :source => 'blog',    :polarity => 'all') %>
    </li>
  </ul>
</id>

<div class='filter'>
  Sentiment Filter:
  <%= link_to 'All', feedback_url(:id => @project.name, :source => @source, :polarity => 'all') %>, 
  <span class='positive'>
    <%= link_to 'Positive', feedback_url(:id => @project.name, :source => @source, :polarity => 'positive') %>
  </span>,
  <span class='negative'>
    <%= link_to 'Negative', feedback_url(:id => @project.name, :source => @source, :polarity => 'negative') %>
  </span>,
  <span class='other'>   
    <%= link_to 'Other',    feedback_url(:id => @project.name, :source => @source, :polarity => 'other')    %>
  </span>
</div>

<hr/>

<% @feedbacks.each do |feedback| %>
  <p>
  <image src="<%= feedback.author_image %>" class="top pull-1 left" height="48" width="48"/>
  <%= feedback.html_description %><br/>
  
  <small>
  <%= time_ago_in_words(feedback.created_at) + ' ago' %>
  By <%= link_to feedback.author_name, feedback.author_url %>
  <%= link_to 'View', feedback.url, :popup => true %>
  <%= link_to 'Reply', feedback.reply_url, :popup => true %>
  </small>
  
  </p>
  <hr/>
<% end %>

<%= will_paginate @feedbacks %>

